@model Models.AdminViewModel
@{
    ViewBag.Title = "Create page";
    Layout = "_AdminLayout";
}

<h2 class="text-center">Create</h2>

<form asp-action="Create" class="mt-5" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="CompanyName" class="control-label"></label>
            <input asp-for="CompanyName" class="form-control" required/>
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"  required/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" required />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Logo"></label>
            <div class="custom-file">
                <input asp-for="Logo" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                <label class="custom-file-label" for="inputGroupFile01"></label>
            </div>
            <span asp-validation-for="Logo" class="text-danger"></span>
        </div>
    </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input  type="submit" value="Create" class="btn btn-primary btn-sm"> |
            <a asp-action="Index" class="btn btn-secondary btn-sm">Back to list</a>
        </div>
        
</form>