@model Models.AdminModel.CompanySetting

@{
    ViewBag.Title = "Details page";
}
            <div class="container">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="content mt-3">
                            <h4 class="title font-weight-bold">Logo</h4>
                            <img src="~/images/@Model.Logo" alt="image"  width="200" height="200" asp-append-version="true">
                        </div>
                    </div>
                </div>

                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="box-icon bg-info-alt text-info d-flex align-items-center justify-content-center">
                                    <i class="las la-phone-volume"></i>
                                </div>
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Phone</h4>
                                    <p class="text-muted">
                                        Start working with Landrick that can provide everything
                                    </p>
                                    <a href="#" class="text-primary">@Html.DisplayFor(model => model.PhoneNumber)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Address</h4>
                                    <p class="text-muted">
                                        Start working with Landrick that can provide everything
                                    </p>
                                    <h6>@Html.DisplayFor(model => model.Address)</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="box-icon bg-warning-alt text-warning d-flex align-items-center justify-content-center">
                                    <i class="las la-envelope-open"></i>
                                </div>
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Email</h4>
                                    <p class="text-muted">
                                        Start working with Landrick that can provide everything
                                    </p>
                                    <a href="#" class="text-primary">@Html.DisplayFor(model => model.Email)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    
                    <!--end col-->
                    @* <div class="col-md-3 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="box-icon bg-success-alt text-success d-flex align-items-center justify-content-center">
                                    <i class="las la-street-view"></i>
                                </div>
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Street view</h4>
                                    <p class="text-muted">
                                        Start working with Landrick that can provide everything
                                    </p>
                                    <a href="#" class="text-primary">View on map</a>
                                </div>
                            </div>
                        </div>
                    </div> *@
                    <!--end col-->
                </div>
                <!--end row-->
            </div>

@* <h1 class="text-center text-warning">Details</h1>

<div>
    <h4>Company Setting panel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info btn-sm">Update</a> |
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
</div>
 *@
