@model Models.AdminModel.CompanySetting
@{
    ViewBag.Title = "Edit page";
    Layout = "_AdminLayout";
}

<h2 class="text-center">Edit</h2>

<form asp-action="Edit" class="mt-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="CompanyName" class="control-label"></label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"  />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        @* <div class="form-group col-md-6">
            <label asp-for="Logo"></label>
            <div class="custom-file">
                <input asp-for="Logo" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
            <span asp-validation-for="Logo" class="text-danger"></span>
        </div> *@

        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input  type="submit" value="Save" class="btn btn-primary btn-sm"> |
            <a asp-action="Index" class="btn btn-secondary btn-sm">Back to list</a>
        </div>
        
</form>