@{
    ViewBag.Title = "Index";
    Layout = "_AdminLayout";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Hello Admin</h1>
    <p class="lead text-center">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<div class="container">
    <div class="row d-flex align-items-stretch">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="content mt-3">
                            <h4 class="title font-weight-bold">Company Setting</h4>
                            <p class="text-muted">
                                Start working with Landrick that can provide everything
                            </p>
                            <a asp-controller="Admin" asp-action="Create" class="btn btn-outline-success btn-sm">Create New</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="content mt-3">
                            <h4 class="title font-weight-bold">Bannar</h4>
                            <p class="text-muted">
                                Start working with Landrick that can provide everything
                            </p>
                            <a asp-controller="Bannar" asp-action="Create" class="btn btn-outline-success btn-sm">Create New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="content mt-3">
                            <h4 class="title font-weight-bold">Product</h4>
                            <p class="text-muted">
                                Start working with Landrick that can provide everything
                            </p>
                            <a asp-controller="Product" asp-action="Create" class="btn btn-outline-success btn-sm">Create New</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="content mt-3">
                            <h4 class="title font-weight-bold">Feature</h4>
                            <p class="text-muted">
                                Start working with Landrick that can provide everything
                            </p>
                            <a asp-controller="Productfeature" asp-action="Create" class="btn btn-outline-success btn-sm">Create New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


                        