@using Models.AdminModel
@model Models.AdminModel.Product

@{
    ViewData["Title"] = "Details";
}


<div class="container">
        <div class="card">
            <div class="card-body text-center">
                <img src="~/product_img/@Model.Image" alt="img" asp-append-version="true" width="1000" height="400">
            </div>           
        </div>
        <div class="card mt-2">
            <div class="card-body text-center">
                <a href="@Model.PreviewLink" class="btn btn-success btn-sm" disabled>Live Preview</a>
            </div>    
        </div>
        <div class="mt-2">
            <h3>@Html.DisplayFor(model => model.Title)</h3>            
        </div>
        
        <div class="row mt-3">
            <div class="col-md-3">
                <h4>Feature</h4>
                <ul>
    @foreach (var item in ViewData["Feature"] as List<ProductFeature>)
            {
                <li>@item.FeatureName</li>
            }
                </ul>
            </div>
            <div class="col-md-9">
                <h3>@Html.DisplayNameFor(model => model.Description)</h3>
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
</div>



@* <div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviewLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviewLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
