@model IEnumerable<Models.AdminModel.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Product</h1>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
</p>
<table class="table table-bordered table-hover mt-5">
    @* <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviewLink)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody class="mb-3">
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <td>
                <img src="~/product_img/@item.Image" alt="image" class="rounded-circle" width="40" height="40" asp-append-version="true">
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PreviewLink)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PreviewLink)
            </td>
        </tr>
        <tr>
            <th>
                Action
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
