@model Models.AdminModel.ProductFeature

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductFeature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> |
        <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
    </form>
</div>
