@model Models.AdminModel.Bannar

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-md-8">
            <h1 class="intro-title display-4">@Model.Heading</h1>
            <p class="lead display-5">@Model.SubTitle</p>

            <div class="row">
                <div class="col-md-7">
                    <form >
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search assets ..." aria-label="search" aria-describedby="basic-addon2" />
                                            
                            <div class="input-group-append">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
				</div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/ImgBannar/@Model.Image" asp-append-version="true" width="300px" height="300px" alt="">
        </div>
    </div>
</div>

@* <div>
    <h4>Bannar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
