@model IEnumerable<Models.AdminModel.Bannar>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

@* @foreach (var item in Model){
    <div class="float-left ">
        <h1>@item.Heading</h1>

        <h2>@item.SubTitle</h2>

        <img src="~/ImgBannar/@item.Image" asp-append-version="true" width="250px" height="250px" alt="">
        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Edit</a> 
        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
    </div>
} *@


<h1 class="text-center">Bannar page</h1>
<div class="text-center">
    <a asp-controller="Bannar" asp-action="Create" class="btn btn-success btn-sm">Create New</a>
</div>
<table class="table table-bordered table-hover mt-5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
                <img src="~/ImgBannar/@item.Image" alt="image" class="rounded-circle" width="40" height="40" asp-append-version="true">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
